<main class="card">
  <header class="header">
    <h2>{{stock.symbol.description}}</h2>
    <button class="remove-btn" (click)="removeItem()">x</button>
  </header>

  <div class="card-content">
    <div>
      <p>Change today: {{stock.quote.d}}</p>
      <p>Opening price: {{stock.quote.o}}</p>
    </div>

    <div>
      <p>Current price: {{stock.quote.c}}</p>
      <p>High price: {{stock.quote.h}}</p>
    </div>
  </div>

  <button [routerLink]="['sentiment/' + stock.symbol.symbol]">Go to sentiment details</button>
</main>