<button class="back-button" routerLink="/">Back to list of stocks</button>

<h2>{{stocks.symbol}}</h2>

<main class="content-contaniner">
  <div class="stock-item" *ngFor="let item of stocks?.data; trackBy: trackByFn">
    <div>
      <h3>{{item.month | month}}</h3>

      <p>Change: {{item.change}}</p>
      <p>MSPR: {{item.mspr}}</p>
    </div>

    <img *ngIf="item.mspr > 0" class="arrow-icon green" src="../../../../assets/svgs/arrow_up.svg" alt="Arrow up">
    <img *ngIf="item.mspr < 0" class="arrow-icon red" src="../../../../assets/svgs/arrow_down.svg" alt="Arrow down">
  </div>
</main>