.content-contaniner {
  display: flex;
  border: 1px solid #333;
  margin-top: 12px;
}

.stock-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 1 auto;
  border-right: 1px solid #333;

  &:last-child {
    border: none;
  }
}

.arrow-icon {
  height: 70%;

  &.green {
    background-color: green;
  }

  &.red {
    background-color: red;
  }
}

.back-button {
  background-color: #277bc0;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px 12px;
  height: 48px;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }
}
